* {
    font-family: 'Courier Prime', monospace;
    color: white;
}

p {
    font-size: 24pt;
    margin: 0;
}

body {
    margin: 0;
}

.blue {
    color: #67DAFF;
}

.title {
    font-size: 48pt;
}

.section-title {
    font-size: 48pt;
    margin: 0 0 24px 10%;
    color: #67DAFF;
}

.hello-text {
    font-size: 52pt;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

.blank {
    height: 500px;
}